<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../js/changeroot.js" defer></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
    <title>Portfolio: Missions</title>
</head>
<body>
    <script>
        window.addEventListener('load', function() {
            document.body.classList.add('loaded');
        });
    </script>
    <%- include('header') %>

    <% getRepo.forEach(element => { %>
        <div class="content">
            <h2><%= element.Name %></h2>
            <p><%= element.Description %></p>

            <% element.Langage.forEach(tags => { %>
                <div class="tags">
                    <div class="tag">
                        <i class="devicon-<%= tags %>-plain"></i> <%= tags %>
                    </div>
                </div>
            <% }) %> <!-- Fin de la boucle Langage.forEach -->

            <div class="buttons">
                <button class="secondary-button" onclick="window.open('<%= element.html_url %>', '_blank')">Voir sur Github</button>
            </div>
        </div> <!-- Fin du bloc de contenu -->
    <% }); %> <!-- Fin de la boucle getRepo.forEach -->
</body>
</html>
